# ingore the dataset
01_dataset_creation/Dataset
03_results_analysis/sorted

# ignore ipynb checkpoints
*.ipynb_checkpoints

# ignore df due to sensible information
02_dataset_analysis/data/clinical_data.csv
02_dataset_analysis/data/patient_data.csv
03_results_analysis/clinical_results.csv

